.review-content {
  .review-image {
    max-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .review-text {
    flex: 1;
  }
  .time-created {
    font-size: 0.8rem;
  }
}
